<app-navbar></app-navbar>
<div class="container">
  <div class="container-cards">
    <app-button-card
        [routerLink]="['aniversariantes']"
        [icon]="'../../../assets/aniversariantes.png'"
        [title]="'Aniversariantes do mês'"
        [description]="'Visualize os clientes que estão aniversariando'"
      ></app-button-card>
      <app-button-card
        [routerLink]="['nota-agradecimento']"
        [icon]="'../../../assets/agradecimento.png'"
        [title]="'Criar nota de agradecimento'"
        [description]="'Gere uma nota de agradecimento no modelo da CVM Turismo'"
      ></app-button-card>
  </div>
</div>
<app-footer></app-footer>
