th{
  background-color: black;
  color: white;
}

th, td{
  padding: 5px 10px;
}

td img{
  cursor: pointer;
  transition: transform 0.3 ease;
}

.saida{
  background-color: rgb(255, 150, 150);
}

.entrada{
  background-color: rgb(159, 236, 159);
}

.center{
  text-align: center;
}

.container-action-buttons{
  display: flex;
  gap: 10px;
}

td img:hover{
  transform: scale(1.08);
}


