.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.title-lista-passageiros{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.content{
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

mat-form-field{
  width: 100%;
}

.separator{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.line-underscore{
  background-color: #a1a1a1;
  height: 1px;
  width: 100%;
}

.container-table{
  overflow-x: auto;
  margin-top: 20px;
}

.title-passageiros{
  text-align: center;
  margin-top: 10px;
}

.container-button-adicionar{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.container-button-gerar{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

table{
  margin: 0 auto;
  max-width: 600px;
  border-collapse: collapse;
  border-radius: 10px;
}

tbody tr:nth-child(odd) {
  background-color: #eeeded;
  border-collapse: collapse;
}

tbody tr:nth-child(even) {
  background-color: #d3d3d3;
}

th{
  text-align: center;
  padding: 5px 5px;
  background-color: #3f3f3f;
  color: white;
  font-weight: 500;
}

td{
  width: 40%;
  text-align: center;
  padding: 5px;
}

.container-actions-table{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100%;
}

.center{
  text-align: center;
  width: 20% !important;
}

.title-table{
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.button-delete{
  color: red;
  cursor: pointer;
}

.button-loading{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* Card */

.card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  width: 98%;
  padding: 20px;
  margin: 20px auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
}

.line-topo{
  display: flex;
  justify-content: space-between;
}

.line-mid{
  text-align: center;
}

.line-bottom{
  text-align: end;
}

@media (max-width: 768px) {
  .container-actions-table{
    justify-content: flex-end;
  }
}
