.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.title-lista-passageiros{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  font-size: 20px;
}

.content{
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

mat-form-field{
  width: 100%;
}

/* .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 300px);
  max-width: 600px;
  margin: 50px auto;
} */

.title-passageiros{
  text-align: center;
  margin-top: 10px;
}

.container-button-adicionar{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.container-button-gerar{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

table{
  margin: 0 auto;
  max-width: 600px;
  border-collapse: collapse;
  border-radius: 10px;
}

tbody tr:nth-child(odd) {
  background-color: #eeeded;
  border-collapse: collapse;
}

tbody tr:nth-child(even) {
  background-color: #d3d3d3;
}

th{
  text-align: center;
  padding: 5px 5px;
  background-color: #3f3f3f;
  color: white;
  font-weight: 500;
}

td{
  width: 40%;
  text-align: center;
  padding: 5px;
}

.center{
  text-align: center;
  width: 20% !important;
}

.title-table{
  text-align: center;
  font-size: 20px;
}

.button-delete{
  color: red;
  cursor: pointer;
}

.button-loading{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.action-column{
  display: flex;
  gap: 10px;
}
