<app-navbar></app-navbar>
<div class="container">
  @if(isLoadingClientes && isLoadingOrcamentoBehaviorSubject){
    <app-loading-blue></app-loading-blue>
  } @else {
    <h2 class="title-orcamento">
      Preencha os dados para gerar o orçamento
    </h2>
    <form (ngSubmit)="onSubmit()">
      <!-- cliente -->
      <app-input-autocomplete-data-pessoa
        [options]="nomeClientes"
        [attr.autocomplete]="'off'"
        [label]="'Nome completo do cliente'"
        [defaultValue]="orcamentoData.nomeCliente"
        [errorMessage]="'Este campo é obrigatório'"
        (inputValue)="updateNomeClienteHandler($event)"
      ></app-input-autocomplete-data-pessoa>

      <!-- contato -->
      <app-input-number
        [label]="'Telefone'"
        [placeholder]="'ex: (88)9.8888-8888'"
        [defaultValue]="orcamentoData.telefoneContato"
        [type]="'tel'"
        (inputValueString)="updateTelefoneContatoHandler($event)"
      ></app-input-number>

      <!-- Local de saída -->
      <app-input-autocomplete
        [label]="'Selecione o local de saída'"
        [options]="cidades"
        [defaultValue]="orcamentoData.localSaida"
        [errorMessage]="'Por favor, selecione um local.'"
        (inputValue)="updateLocalSaidaHandler($event)"
      ></app-input-autocomplete>

      <!-- Destino da viagem -->
      <app-input-text
        [label]="'Destino da viagem'"
        [placeholder]="'ex: Fortaleza - CE'"
        [defaultValue]="orcamentoData.destinoViagem"
        (inputValue)="updateDestinoViagemHandler($event)"
      ></app-input-text>

      <!-- Data de saída -->
      <app-input-date
        [label]="'Selecione a data de saída.'"
        [defaultValue]="orcamentoData.dataSaida"
        (inputDate)="updateDataSaidaHandler($event)"
      ></app-input-date>

      <!-- Hora de saída -->
      <app-input-time
        [label]="'Selecione a hora de saída.'"
        [defaultValue]="orcamentoData.horaSaida"
        (inputTime)="updateHoraSaidaHandler($event)"
      ></app-input-time>

      <!-- Data de retorno -->
      <app-input-date
        [label]="'Selecione a data de retorno'"
        [defaultValue]="orcamentoData.dataRetorno"
        (inputDate)="updateDataRetornoHandler($event)"
      ></app-input-date>

      <!-- Hora de retorno -->
      <app-input-time
        [label]="'Selecione a hora de retorno'"
        [defaultValue]="orcamentoData.horaRetorno"
        (inputTime)="updateHoraRetornoHandler($event)"
      ></app-input-time>

      <!-- valor sem despesa de hospedagem e alimentação -->
      <app-input-number
        [type]="'number'"
        [label]="'Valor cliente pagando despesa'"
        [defaultValue]="orcamentoData.valorSemDespesa"
        [placeholder]="'ex: 2.500,00'"
        (inputValueNumber)="updateValorSemDespesaHandler($event)"
      ></app-input-number>

      <!-- valor com despesa de hospedagem e alimentação -->
      <app-input-number
        [type]="'number'"
        [label]="'Valor CVM pagando despesa'"
        [defaultValue]="orcamentoData.valorComDespesa"
        [placeholder]="'ex: 3.000,00'"
        (inputValueNumber)="updateValorComDespesaHandler($event)"
      ></app-input-number>

      <!-- valor com emissão de nota fiscal -->
      <app-input-number
        [type]="'number'"
        [label]="'Valor com emissão de nota fiscal'"
        [defaultValue]="orcamentoData.valorComNota"
        [placeholder]="'ex: 3.500,00'"
        (inputValueNumber)="updateValorComNotaHandler($event)"
      ></app-input-number>

      <!-- Taxa do PIX -->
      <app-input-number
        [type]="'text'"
        [label]="'Taxa do PIX'"
        [defaultValue]="orcamentoData.taxaPix"
        (inputValueNumber)="updateTaxaPixHandler($event)"
      ></app-input-number>

      <!-- Sinal -->
      <app-input-number
        [type]="'text'"
        [label]="'Porcentagem do sinal'"
        [defaultValue]="orcamentoData.sinal"
        (inputValueNumber)="updateSinalHandler($event)"
      ></app-input-number>

      <!-- modelo van -->
      <app-input-text
        [label]="'Detalhes do veículo'"
        [optional]="true"
        [defaultValue]="orcamentoData.modeloVan || ''"
        [placeholder]="'ex: Van com 20 assentos, som, ar-condicionado...'"
        (inputValue)="updateModeloVanHandler($event)"
      ></app-input-text>

      <!-- cortesiaKm -->
      <app-input-number
        [type]="'text'"
        [label]="'Km de cortesia'"
        [defaultValue]="orcamentoData.cortesiaKm || ''"
        [placeholder]="'30'"
        [optional]="true"
        (inputValueNumber)="updateCortesiaKmHandler($event)"
      ></app-input-number>

      <!-- valor km-->
      <app-input-number
        [type]="'number'"
        [label]="'Valor por km excedido'"
        [defaultValue]="orcamentoData.valorAcrescimoKm || ''"
        [placeholder]="'ex: 5,00'"
        [optional]="true"
        (inputValueNumber)="updateValorAcrescimoKmHandler($event)"
      ></app-input-number>

    </form>
    <button [disabled]="!camposValidos()" class="button-gerar" mat-flat-button (click)="onSubmit()">
      <ng-container *ngIf="loading; else btnText">
        <div class="button-loading">
          <img class="loading" src="./assets/loading.gif" alt="Carregando">
          <p>Gerando PDF</p>
        </div>
      </ng-container>
      <ng-template #btnText>
        Gerar PDF
      </ng-template>
    </button>
  }

</div>
<app-footer></app-footer>
