.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.title-orcamento{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  font-size: 20px;
}

form{
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

mat-form-field{
  width: 100%;
}

.button-gerar{
  display: flex;
  margin: 20px auto 40px auto;
  width: 70%;
  max-width: 200px;
}

.button-loading{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
