.container-navbar{
  width: 100%;
  height: 90px;
  background-color: wheat;
  display: flex;
  align-items: center;
  padding-left: 10%;
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.4);
}

.container-icons{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image{
  width: 90px;
}

.logout{
  width: 30px;
  cursor: pointer;
  transition: transform ease 0.3s;
}

.logout:hover{
  transform: scale(1.07);
}
