<div class="container-navbar">
  <div class="container-icons">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active"  >
      <img class="logo-image" src="/assets/logo.png" alt="">
    </a>
    <!-- menu -->
    <div>
      <button matIconButton [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- Botões menu -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="abrirTelaOrcamentoHistory()">
          <mat-icon>history_2</mat-icon>
          <span>Histórico de orçamentos</span>
        </button>
        <button mat-menu-item (click)="abrirTelaListaPassageirosHistory()">
          <mat-icon>history_2</mat-icon>
          <span>Histórico de lista de passageiros</span>
        </button>
        <button mat-menu-item (click)="openDialog('0ms', '0ms')">
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
