.container-screen-login{
  min-height: 100vh;
  width: 100vw;
  background-image: url("../../../assets/background-login.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-card-login{
  width: 90%;
  max-width: 400px;
  height: 450px;
  background: rgba(255, 255, 255, 0.185);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 30px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container-img{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.container-img img{
  width: 80%;
}

.container-fields{
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

mat-form-field{
  width: 100%;
}

mat-form-field input{
  border: none;
  width: 100%;

}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: transparent !important;
}

.mat-mdc-form-field-infix{
  padding: 0;
  margin: 0;
}

.container-password{
  display: flex;
  justify-content: space-between;
}

.icon-eye{
  transform: scale(0.8);
  cursor: pointer;
}

.msg-erro{
  color: red;
  font-size: 10pt;
  opacity: 0;
  transition: opacity 0.3s ease
}

.msg-erro.visible{
  opacity: 1;

}

.button-login{
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg,rgba(0, 99, 180, 1) 0%, rgba(0, 133, 205, 1) 37%, rgb(41, 150, 201) 69%, rgb(89, 162, 187) 100%);
  color: white;
  font-weight: bold;
  width: 80%;
  height: 35px;
  max-width: 200px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: relative;
}

.loading-animation{
  position: absolute;
  top: -8px;
  right: 20px;
  right: 50px;
}

.button-login:hover{
  opacity: 0.8;
  transform: scale(1.01);
}

@media (max-width: 767px) {
  .container-screen-login {
    min-height: calc(100vh - 56px); /* Subtraímos a altura da barra de endereço do mobile, ajustando para a tela visível */
  }
}

