<div class="container-screen-login">
  <div class="container-card-login">
    <div class="container-img">
      <img src="../../../assets/logo.png" alt="">
    </div>
    <div class="container-fields">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <!-- <span class="material-symbols-outlined icon-person">account_circle</span> -->
        <input matInput [(ngModel)]="email" name="email" required>
        <mat-error> {{ 'Este campo é obrigatório' }} </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <div class="container-password">
          <input matInput [(ngModel)]="senha" name="senha" type="{{typePassword}}" required>
          @if (senha && typePassword == 'password') {
            <span (click)="togglePassword($event)" class="material-symbols-outlined icon-eye">visibility_off</span>
          } @else if (senha && typePassword == 'text') {
            <span (click)="togglePassword($event)" class="material-symbols-outlined icon-eye">visibility</span>
          }
        </div>
        <mat-error> {{ 'Este campo é obrigatório' }} </mat-error>
      </mat-form-field>
      <p [ngClass]="{'visible': showErro()}" class="msg-erro">Erro ao fazer login: {{errorMessage}}!</p>
    </div>
    <button class="button-login" (click)="login()">Entrar</button>
  </div>
</div>
