.content{
  width: 80%;
  max-width: 600px;
  gap: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h2{
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
  padding: 30px 0;
  font-size: 20px;
  text-align: center;
}

app-input-radio{
  width: 100%;
}

::ng-deep mat-form-field{
  width: 100%;
}

::ng-deep .radio-group {
  flex-direction: row !important;
  justify-content: center;
  gap: 20px;
}


.button-gerar{
  display: flex;
  margin: 20px auto 40px auto;
  width: 70%;
  max-width: 200px;
}

.button-loading{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
