<app-navbar></app-navbar>
<div class="container">
  <div class="container-content">
    @if(isLoading){
      <app-loading-blue></app-loading-blue>
    } @else {
      <div class="container-buttons">
        <app-input-month-year
          [label]="'Mês e ano atual'"
          [defaultValue]="mesAnoAtual"
          (dateSelected)="updateMonthYearSelectedHandler($event)"
        ></app-input-month-year>
        <button mat-flat-button [disabled]="fluxos.length == 0" (click)="gerarRelatorioMensal()">
          <ng-container *ngIf="loadingPdf else btnText">
            <div class="button-loading">
              <img class="loading" src="./assets/loading.gif" alt="Carregando">
              <p>Gerando PDF</p>
            </div>
          </ng-container>
          <ng-template #btnText>
            Gerar relatório
          </ng-template>
        </button>
      </div>
      <div class="container-table-topo">
        @if (widthScreen > 875) {
          <table>
            <thead>
              <tr class="line-first-table">
                <th>Saldo anterior</th>
                <th>Entradas</th>
                <th>Saídas</th>
                <th>Saldo restante</th>
              </tr>
              <tr>
                <th class="button-saldo" (click)="openAdicionarSaldoAnterior()">R$ {{saldoAnterior | brCurrency}}</th>
                <th>R$ {{somaEntradas | brCurrency}}</th>
                <th>R$ {{somaSaidas | brCurrency}}</th>
                <th>R$ {{saldoRestante | brCurrency}}</th>
              </tr>
            </thead>
          </table>
        } @else {
          <table class="table-mobile">
            <tr class="line-first-table">
              <th>Saldo anterior</th>
              <th  class="button-saldo" (click)="openAdicionarSaldoAnterior()">R$ {{saldoAnterior | brCurrency}}</th>
            </tr>
            <tr>
              <th>Entradas</th>
              <th>R$ {{somaEntradas | brCurrency}}</th>
            </tr>
            <tr>
              <th>Saídas</th>
              <th>R$ {{somaSaidas | brCurrency}}</th>
            </tr>
            <tr>
              <th>Saldo restante</th>
              <th>R$ {{saldoRestante | brCurrency}}</th>
            </tr>
          </table>
        }
      </div>
      <div class="container-button-add">
        <button class="flat-button"
          mat-flat-button
          (click)="openAdicionarMovimentacao()"
        >
          Adicionar movimentação
        </button>
      </div>
      @if (this.fluxos.length > 0) {
        @if (widthScreen > 1050) {
          <div class="container-table">
            <table>
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Movimentação</th>
                  <th>TipoTransação</th>
                  <th>Descrição</th>
                  <th>Valor</th>
                  <th>Forma de pagamento</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                @for (fluxo of fluxos; track $index) {
                  <tr [ngClass]="{
                    'saida': fluxo.tipo == 'SAIDA',
                    'entrada': fluxo.tipo == 'ENTRADA'
                    }"
                  >
                    <td>{{fluxo.data | dataFormatada}}</td>
                    <td>{{fluxo.tipo}}</td>
                    <td>{{fluxo.tipoDocumento}}</td>
                    <td style="white-space: pre-wrap;">{{fluxo.descricao}}</td>
                    <td>R$ {{fluxo.valor | brCurrency}}
                    <td class="center">{{fluxo.formaPagamento}}</td>
                    <td class="container-action-buttons">
                      <img (click)="openEditarMovimentacao(fluxo, $index)" src="../../../../assets/icons-svg/pen.svg">
                      <img (click)="openRemoverMovimentacao(fluxo.id!)" src="../../../../assets/icons-svg/delete-icon.svg">
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        } @else {
          <div class="container-cards">
            @for (fluxo of fluxos; track $index) {
              <div class="card">
                <div class="card-topo">
                  <div [ngClass]="{
                    'vermelho': fluxo.tipo == 'SAIDA',
                    'verde': fluxo.tipo == 'ENTRADA'
                  }"
                  >
                  {{fluxo.tipo}}
                </div>
                <div class="card-data">{{fluxo.data | dataFormatada}}</div>
                  <div class="container-card-actions">
                    <img (click)="openEditarMovimentacao(fluxo, $index)" src="../../../../assets/icons-svg/pen.svg">
                    <img (click)="openRemoverMovimentacao(fluxo.id!)" src="../../../../assets/icons-svg/delete-icon.svg">
                  </div>
                </div>
                <div class="card-description">{{fluxo.descricao}}</div>
                <div class="card-rodape">
                  <div class="card-forma-pagamento">{{fluxo.formaPagamento}}</div>
                  <div>{{fluxo.tipoDocumento}}</div>
                  <div
                    [ngClass]="{
                    'vermelho': fluxo.tipo == 'SAIDA',
                    'verde': fluxo.tipo == 'ENTRADA'
                    }"
                  >R$ {{fluxo.valor | brCurrency}}</div>
                </div>
              </div>
            }
          </div>
        }

      }
    }
  </div>
</div>
<app-footer></app-footer>
