.flat-button{
  margin-top: 30px;
}

.container-content{
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-buttons-topo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 685px;
  max-width: 900px;
}

.container-table{
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
}

.container-button-add{
  display: flex;
  justify-content: end;
  width: 100%;
  min-width: 685px;
  max-width: 900px;
}

table{
  min-width: 685px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  max-width: 900px;
}

th{
  background-color: rgb(46, 46, 46);
  color: white;
  font-weight: 500;
}

th, td{
  padding: 5px 10px;
}

td img{
  cursor: pointer;
  transition: transform 0.3 ease;
}

.line-first-table{
  background-color: var(--text-blue);
  color: white;
  font-weight: 500;
}

.line-first-table td{
  padding: 10px;
}

.button-saldo{
  cursor: pointer;
}

.saida{
  background-color: rgb(255, 150, 150);
}

.entrada{
  background-color: rgb(159, 236, 159);
}

.center{
  text-align: center;
}

.container-action-buttons{
  display: flex;
  gap: 10px;
}

.button-loading{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

td img:hover{
  transform: scale(1.08);
}

/* Card mobile*/
.container-cards{
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.card{
  width: 100%;
  max-width: 400px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-topo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-data,
.card-forma-pagamento{
  font-weight: 500;
}

.container-card-actions{
  display: flex;
  gap: 10px;
}

.card-description{
  font-weight: 200;
}

.card-rodape{
  display: flex;
  justify-content: space-between;
}

.vermelho{
  color: red;
  font-weight: 500;
}

.verde{
  color: green;
  font-weight: 500;
}

@media (max-width: 875px){

  .table-mobile tr th{
    text-align: start;
  }

  table{
    min-width: 0;
  }

}

@media (max-width: 990px){
  .container-table{
    justify-content: flex-start;
  }
}

@media (max-width: 860px){

  .container-buttons-topo, table{
    min-width: 0px;
  }

  .container-button-add, table{
    min-width: 0px;
  }

}

@media (max-width: 750px){

  .container-content{
    width: 90%;
  }
}

@media (max-width: 450px){

  .container-buttons-topo{
    flex-direction: column-reverse;
    gap: 30px;
  }

}

