h2{
  font-size: 20px;
  margin: 30px 0px;
  text-align: center;
}

.container{
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.container-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button-gerar{
  display: flex;
  width: 70%;
  max-width: 200px;
  margin-top: 20px;
}

.button-loading{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media(max-width: 600px){
  .container-buttons{
    flex-direction: column;
  }
}

