h2{
  font-size: 20px;
  margin: 30px 0px;
  text-align: center;
}

.container{
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.button-gerar{
  display: flex;
  margin: 20px auto 40px auto;
  width: 70%;
  max-width: 200px;
}

.button-loading{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}


