<app-navbar></app-navbar>
<div class="container">
  <div class="content">
    <h2>Calculadora de custos de viagem</h2>

    <app-input-radio
      [label]="'O orçamento será pré-calculado?'"
      [dropdown]="false"
      [expanded]="true"
      [defaultValue]="settingsViagem.valorViagemPreCalc || 'Não'"
      [listItems]="settingsViagem.optionsRadio"
      (selectedValue)="updateSelectedViagemPreCalc($event)"
    ></app-input-radio>

    @if (settingsViagem.valorViagemPreCalc == 'Sim') {
      <app-input-number
        [label]="'Informe o valor fechado com o cliente'"
        [type]="'number'"
        [defaultValue]="settingsViagem.valorFechadoComCliente || null"
        (inputValueNumber)="updateValorFechadoComClienteHandler($event)"
      ></app-input-number>
    }

    <app-input-number
      [label]="'Informe o preço do combustível'"
      [type]="'number'"
      [defaultValue]="settingsViagem.precoCombustivel || null"
      (inputValueNumber)="updatePrecoCombustivelHandler($event)"
    ></app-input-number>

    <app-input-number
      [label]="'Informe a distância da viagem em km'"
      [type]="'text'"
      [defaultValue]="settingsViagem.distanciaKM || null"
      (inputValueNumber)="updateDistanciaEmKmHandler($event)"
    ></app-input-number>

    <app-input-number
      [label]="'Informe a autonomia do veículo em km/l'"
      [type]="'decimal'"
      [defaultValue]="settingsViagem.autonomiaVeiculo || null"
      (inputValueNumber)="updateAutonomiaDoVeiculoHandler($event)"
    ></app-input-number>

    <app-input-number
      [label]="'Informe a taxa de desgaste do veículo em %'"
      [defaultValue]="settingsViagem.desgasteDoVeiculo || null"
      [type]="'text'"
      (inputValueNumber)="updateDesgasteDoVeiculoHandler($event)"
    ></app-input-number>

    <app-input-number
      [label]="'Quantos dias de viagem?'"
      [type]="'text'"
      [defaultValue]="settingsViagem.diasDeViagem || null"
      (inputValueNumber)="updateDiasDeViagemHandler($event)"
    ></app-input-number>

    <app-input-radio
      [dropdown]="false"
      [label]="'Haverá custos com hospedagem?'"
      [defaultValue]="settingsViagem.hospedagemOptionSelected"
      [listItems]="settingsViagem.optionsRadio"
      (selectedValue)="updateRadioHospedagemSelectedHandler($event)"
    ></app-input-radio>

    @if (settingsViagem.hospedagemOptionSelected == 'Sim') {
      @for (dia of [].constructor(settingsViagem.contadorHospedagens); track $index) {
        <app-input-number
          [label]="'Valor gasto no ' + ($index + 1) + 'º dia:'"
          [type]="'number'"
          [defaultValue]="settingsViagem.valoresHospedagem[$index]"
          (inputValueNumber)="adicionarValorLista(settingsViagem.valoresHospedagem, $event.value, $index)"
        ></app-input-number>
      }
      <div class="container-buttons-hospedagem">
        <button (click)="addDiaHospedagem()" mat-flat-button class="button-add">
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="removerDiaHospedagem()" mat-flat-button class="button-add">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    }

    <app-input-radio
      [dropdown]="false"
      [label]="'Haverá custos com refeições?'"
      [defaultValue]="settingsViagem.refeicaoOptionSelected"
      [listItems]="settingsViagem.optionsRadio"
      (selectedValue)="updateRadioRefeicaoSelectedHandler($event)"
    ></app-input-radio>

    @if (settingsViagem.refeicaoOptionSelected == 'Sim') {
      @for (dia of [].constructor(settingsViagem.contadorRefeicoes); track $index) {
        <app-input-number
          [label]="'Valor gasto no ' + ($index + 1) + 'º dia:'"
          [type]="'number'"
          [defaultValue]="settingsViagem.valoresRefeicao[$index]"
          (inputValueNumber)="adicionarValorLista(settingsViagem.valoresRefeicao, $event.value, $index)"
        ></app-input-number>
      }
      <div class="container-buttons-refeicao">
        <button (click)="addDiaRefeicao()" mat-flat-button class="button-add">
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="removerDiarefeicao()" mat-flat-button class="button-delete">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    }

    <app-input-radio
      [dropdown]="false"
      [label]="'Haverá custos com pedagio?'"
      [defaultValue]="settingsViagem.pedagioOptionSelected"
      [listItems]="settingsViagem.optionsRadio"
      (selectedValue)="updateRadioPedagioSelectedHandler($event)"
    ></app-input-radio>

    @if (settingsViagem.pedagioOptionSelected == 'Sim') {
      <app-input-number
        [label]="'Quantos pedagios na viagem?'"
        [type]="'text'"
        [defaultValue]="settingsViagem.quantidadePedagios"
        (inputValueNumber)="updateQuantidadePedagiosHandler($event)"
      ></app-input-number>

      @for (dia of [].constructor(settingsViagem.quantidadePedagios); track $index) {
        <app-input-number
          [label]="'Valor gasto no ' + ($index + 1) + 'º pedagio.'"
          [type]="'number'"
          [defaultValue]="settingsViagem.valoresPedagio[$index]"
          (inputValueNumber)="adicionarValorLista(settingsViagem.valoresPedagio, $event.value, $index)"
        ></app-input-number>
      }
    }

    <app-input-radio
      [dropdown]="false"
      [label]="'Haverá despesas com motorista?'"
      [defaultValue]="settingsViagem.motoristaOptionSelected"
      [listItems]="settingsViagem.optionsRadio"
      (selectedValue)="updateRadioMotoristaSelectedHandler($event)"
    ></app-input-radio>

    @if (settingsViagem.motoristaOptionSelected == 'Sim') {
      <app-input-number
        [label]="'Qual o valor da diária do motorista?'"
        [type]="'number'"
        [defaultValue]="settingsViagem.valorDiariaMotorista || null"
        (inputValueNumber)="updateValorDiariaMotoristaHandler($event)"
      ></app-input-number>
    }

    <app-input-number
      [label]="'Informe a margem de lucro em %'"
      [type]="'text'"
      [defaultValue]="settingsViagem.margemDeLucro"
      [disabled]="settingsViagem.valorViagemPreCalc == 'Sim' ? true : false"
      (inputValueNumber)="updateMargemDeLucroHandler($event)"
    ></app-input-number>

  </div>
  <button [disabled]="!camposPreenchidos()" class="button-gerar" mat-flat-button (click)="selectCalcularViagem()">
    <ng-container *ngIf="loading; else btnText">
      <div class="button-loading">
        <img class="loading" src="./assets/loading.gif" alt="Carregando">
        <p>Calculando</p>
      </div>
    </ng-container>
    <ng-template #btnText>
      Calcular
    </ng-template>
  </button>

  <div *ngIf="settingsViagem.custoTotalViagemComDespesa" class="container-precos">
    <div class="content-precos" #captureDiv>
      <div class="d-flex">
        <div>Preço do combustível:</div>
        <div>R$ {{this.settingsViagem.precoCombustivel | brCurrency}}</div>
      </div>
      <div class="d-flex">
        <div>Distância da viagem:</div>
        <div>{{this.settingsViagem.distanciaKM}}</div>
      </div>
      <div class="d-flex">
        <div>Valor por km:</div>
        <div>R$ {{this.settingsViagem.valorPorKm | brCurrency}}</div>
      </div>
      <div class="d-flex">
        <div>Autonomia do veículo:</div>
        <div>{{this.settingsViagem.autonomiaVeiculo.toString().replace('.', ',') + ' km/l'}}</div>
      </div>
      <div class="d-flex">
        <div>Custo total com combustível:</div>
        <div class="text-green">+ R$ {{this.settingsViagem.custoTotalCombustivel | brCurrency}}</div>
      </div>
      <div class="d-flex">
        <div>Taxa de desgaste:</div>
        <div>{{this.settingsViagem.desgasteDoVeiculo + '%'}}</div>
      </div>
      <div class="d-flex">
        <div>Valor da taxa de desgaste:</div>
        <div class="text-green">+ R$ {{this.settingsViagem.valorDesgasteDoVeiculo | brCurrency}}</div>
      </div>
      <div class="d-flex">
        <div>Dias de viagem:</div>
        <div>{{this.settingsViagem.diasDeViagem + ' dia(s)'}}</div>
      </div>
      <div class="d-flex">
        <div>Custos com hospedagem:</div>
        <div class="text-green">+ R$ {{this.settingsViagem.somatorioHospedagens | brCurrency}}</div>
      </div>
      <div class="d-flex">
        <div>Custos com refeições:</div>
        <div class="text-green">+ R$ {{this.settingsViagem.somatorioRefeicoes | brCurrency}}</div>
      </div>
      <div class="d-flex">
        <div>Custos com pedágio:</div>
        <div class="text-green">+ R$ {{this.settingsViagem.somatorioPedagios | brCurrency}}</div>
      </div>
      <div class="d-flex">
        <div>Custos com motorista:</div>
        <div class="text-green">+ R$ {{this.settingsViagem.somatorioDiariasMotorista | brCurrency}}</div>
      </div>
      <div class="d-flex">
        <div>Total de despesa da viagem:</div>
        <div>= R$ {{this.settingsViagem.custoTotalDespesa | brCurrency}}</div>
      </div>
      <div class="d-flex">
        <div>Margem de lucro:</div>
        <div class="text-green">+ R$ {{this.settingsViagem.valorMargemDeLucro | brCurrency}}</div>
      </div>
      <div class="d-flex">
        <div>C.T. viagem sem despesa:</div>
        <div style="font-weight: bold;">= R$ {{this.settingsViagem.custoTotalViagemSemDespesa | brCurrency}}</div>
      </div>
      <div class="d-flex">
        <div>C.T. viagem com despesa:</div>
        <div style="font-weight: bold;">= R$ {{this.settingsViagem.custoTotalViagemComDespesa | brCurrency}}</div>
      </div>
      <div class="d-flex">
        <div>C.T. viagem com nota:</div>
        <div style="font-weight: bold;">= R$ {{this.settingsViagem.custoTotalViagemComNota | brCurrency}}</div>
      </div>
    </div>
    <div class="container-button-share">
      <button (click)="copiarTotaisToClipboard()" mat-flat-button class="button-add">
        @if (buttonCopy) {
          Copiado!
        } @else {
          Copiar totais
        }
      </button>
      <button (click)="captureAndShare()" mat-flat-button class="button-add loading-share">
        @if (loadingShare) {
          <div class="button-loading">
            <img class="loading" src="./assets/loading.gif" alt="Carregando">
          </div>
        } @else {
          <mat-icon>share</mat-icon>
        }
      </button>
    </div>

  </div>
</div>
<app-footer></app-footer>
