<app-navbar></app-navbar>
<div class="container">
  <div class="content">
    <h2>Calculadora de custos de viagem</h2>
    <app-input-number
      [label]="'Informe o preço do combustível'"
      [type]="'number'"
      (inputValueNumber)="updatePrecoCombustivelHandler($event)"
    ></app-input-number>
    <app-input-number
      [label]="'Informe a distância da viagem em km'"
      [type]="'text'"
      (inputValueNumber)="updateDistanciaEmKmHandler($event)"
    ></app-input-number>
  </div>
</div>
<app-footer></app-footer>
