.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.content{
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  gap: 20px;
}

.content h2{
  font-size: 20px;
  margin: 20px auto 0px auto;
}


.button-gerar{
  display: flex;
  margin: 20px auto 40px auto;
  width: 70%;
  max-width: 200px;
}

.button-loading{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.d-flex{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cfcfcf;
  font-size: 14px;
}

.text-green{
  color: green;
}

.container-precos{
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  gap: 20px;
  margin-bottom: 40px;
}
