<app-navbar></app-navbar>
<div class="container-screen">
  <div class="container-buttons">
    <app-button-card
      [routerLink]="['/orcamento']"
      [icon]="'../../../assets/logo-orcamento.png'"
      [title]="'Criar orçamento'"
      [description]="'Preencha os campos e gere um orçamento em PDF no modelo da CVM Turismo'"
    ></app-button-card>
    <app-button-card
      [routerLink]="['/lista-passageiros']"
      [icon]="'../../../assets/logo-lista-passageiros.png'"
      [title]="'Criar lista de passageiros'"
      [description]="'Preencha os campos e gere uma lista de passageiros em PDF no modelo da CVM Turismo'"
    ></app-button-card>
    <app-button-card
      [routerLink]="['/recibo']"
      [icon]="'../../../assets/logo-recibo.png'"
      [title]="'Criar recibo'"
      [description]="'Preencha os campos e gere um recibo em PDF no modelo da CVM Turismo'"
    ></app-button-card>
    <app-button-card
      [routerLink]="['/controle-contas']"
      [icon]="'../../../assets/entrada-saida.png'"
      [title]="'Entradas e Saídas CVM'"
      [description]="'Faça o controle de entradas e saídas mensal'"
    ></app-button-card>
    <app-button-card
      [routerLink]="['/contrato']"
      [icon]="'../../../assets/contrato.png'"
      [title]="'Criar contrato'"
      [description]="'Preencha os campos e gere um contrato em PDF no modelo da CVM Turismo'"
    ></app-button-card>
    <app-button-card
      [routerLink]="['/ficha-excursao']"
      [icon]="'../../../assets/logo-ficha-excursao.png'"
      [title]="'Criar ficha de excursão'"
      [description]="'Preencha os campos e gere uma ficha de excursão em PDF no modelo da CVM Turismo'"
    ></app-button-card>
    <app-button-card
      [routerLink]="['/clientes']"
      [icon]="'../../../assets/logo-cliente.png'"
      [title]="'Gerenciar clientes'"
      [description]="'Aqui você pode visualizar, adicionar, editar e remover clientes'"
    ></app-button-card>
    <app-button-card
      [routerLink]="['/passageiros']"
      [icon]="'../../../assets/logo-passageiro.png'"
      [title]="'Gerenciar passageiros'"
      [description]="'Aqui você pode visualizar, adicionar, editar e remover passageiros'"
    ></app-button-card>
    <app-button-card
      [routerLink]="['/calculadora']"
      [icon]="'../../../assets/logo-calculadora.png'"
      [title]="'Calculadora de custos'"
      [description]="'Aqui você pode calcular custos de viajens e excursões'"
    ></app-button-card>
    <app-button-card
      [routerLink]="['/utilitarios']"
      [icon]="'../../../assets/logo-utilitarios.png'"
      [title]="'Utilitários'"
      [description]="'Aqui você pode visualizar aniversariantes do mês, dentre outras funcionalidades'"
    ></app-button-card>
  </div>
</div>
<app-footer></app-footer>
