<app-navbar></app-navbar>
<div class="container-screen">
  <div class="container-buttons">
    <app-button-card
      [routerLink]="['/orcamento']"
      [icon]="'../../../assets/logo-orcamento.png'"
      [title]="'Criar orçamento'"
      [description]="'Preencha os campos e gere um orçamento em PDF no modelo da CVM Turismo'"
    ></app-button-card>
    <app-button-card
      [routerLink]="['/recibo']"
      [icon]="'../../../assets/logo-recibo.png'"
      [title]="'Criar recibo'"
      [description]="'Preencha os campos e gere um recibo em PDF no modelo da CVM Turismo'"
    ></app-button-card>
    <app-button-card
      [routerLink]="['/ficha-excursao']"
      [icon]="'../../../assets/logo-ficha-excursao.png'"
      [title]="'Criar ficha de excursão'"
      [description]="'Preencha os campos e gere uma ficha de excursão em PDF no modelo da CVM Turismo'"
    ></app-button-card>
    <app-button-card
      [routerLink]="['/lista-passageiros']"
      [icon]="'../../../assets/logo-lista-passageiros.png'"
      [title]="'Criar lista de passageiros'"
      [description]="'Preencha os campos e gere uma lista de passageiros em PDF no modelo da CVM Turismo'"
    ></app-button-card>
    <!-- <button [routerLink]="['/orcamento']"
      routerLinkActive="router-link-active"
      mat-stroked-button>Criar orçamento
    </button>
    <button [routerLink]="['/recibo']"
      routerLinkActive="router-link-active"
      mat-stroked-button>Criar recibo
    </button>
    <button
      [routerLink]="['/ficha-excursao']"
      routerLinkActive="router-link-active"
      mat-stroked-button>Criar ficha de excursão
    </button>
    <button
      [routerLink]="['/lista-passageiros']"
      routerLinkActive="router-link-active"
      mat-stroked-button>Criar lista de passageiros
    </button> -->
    <!-- <button [routerLink]="['/contrato']"
      routerLinkActive="router-link-active"
      mat-stroked-button>Criar contrato
    </button> -->
    <!-- <button class="button-gerar" mat-flat-button>
      Gerar PDF
    </button> -->
  </div>
</div>
<app-footer></app-footer>
