button{
  width: 80%;
  height: 60px;
  max-width: 400px;
}
.container-screen{
  max-width: 650px;
  margin: 0 auto;
  min-height: calc(100vh - 165px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-buttons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 20px;
}
