.radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}

.section{
  margin-bottom: 15px;
}

h2{
  font-size: 14px;
  text-align: center;
}

.radio-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

::ng-deep .mat-expansion-panel{
  background-color: rgb(224 226 236) !important;
  min-height: 56px;
  border-radius: 0px !important;
}

@media (hover: none) {
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover{
    background-color: rgb(224 226 236) !important;
  }
}
