.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}

.section{
  margin-bottom: 15px;
}

h2{
  font-size: 16px;
}

.radio-flex{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

::ng-deep .mat-expansion-panel{
  background-color: rgb(224 226 236) !important;
  min-height: 56px;
  border-radius: 0px !important;
}

::ng-deep .mat-expansion-panel-header{
  min-height: 56px;
}

@media (hover: none) {
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover{
    background-color: rgb(224 226 236) !important;
  }
}
