.container-no-users{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.container-table-clientes{
  width: 80%;
  margin: 0px auto;
  padding: 30px 0;
  min-height: calc(100vh - 165px);
}

.container-actions-table{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.tabela-scroll{
  /* overflow: hidden; */
  overflow-x: auto;
  width: 100%;
}

mat-paginator{
  margin-top: 30px;
}

.container-action-buttons{
  display: flex;
  gap: 10px;
}

.container-action-buttons img{
  cursor: pointer;
  transition: transform ease 0.3s;
}

.container-action-buttons img:hover{
  transform: scale(1.1);
}

.container-cliente{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  gap: 20px;
}

.card-cliente{
  width: 100%;
}

mat-card-title{
  padding: 10px 0 0 16px;
  font-size: 18px;
}

mat-card-actions{
  justify-content: flex-end;
}
