* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
  --text-blue: #005cbb;
  --text-black: #33333b;
  --text-grey: #707078;
  --text-white: #ffffff;
  /* colors snackbar */
  --mat-sys-inverse-surface: #005cbb;
  --mat-sys-inverse-primary: #ffffff
  --mat-label-font-size: 1rem;

}

.container{
  min-height: calc(100vh - 165px);
}

.loading{
  width: 30px;
}

.icon-button{
  cursor: pointer;
}

.cdk-overlay-connected-position-bounding-box{
  margin-bottom: 10px !important;
}

table{
  white-space: nowrap;
}

mat-label{
  font-size: var(--mat-label-font-size) !important;
}
