* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
  --text-blue: #005cbb;
  --text-black: #33333b;
  --text-grey: #707078;
}

.container{
  min-height: calc(100vh - 165px);
}

.loading{
  width: 30px;
}
